<div class="row">
    <div class="col-xs-12 imgCont">
        <div class="viewPort100">
            <!-- <img class="viewPort100 img-responsive" src="../../assets/images/2.jpg" alt="Second slide"> -->
            <div class="layer">
                <div class="rightContainer">
                    <div class="mainTextContainer">
                        <p>{{ 'aboutUs.mainText' | translate: lang }}</p>
                    </div>
                </div>
                <div class="containerForText">
                    <h1>Proba</h1>
                </div>
            </div>
        </div>
    </div>
</div>