.viewPort100 {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.leftDiv {
  float: left;
  width: 50%;
  min-height: 100vh;
  /* height: 100vh; */
  background-color: #5b7173;
}

.rightDiv {
  float: right;
  width: 50%;
  min-height: 100vh;
  /* height: 100vh; */
  background-color: #282d2e;
}

.mapContainer {
  width: 100%;
  height: 40vh;
  margin: auto;
}

.leftDiv p {
  font-weight: bold;
  padding-left: 5%;
}

.leftDiv #street {
  padding-top: 5%;
}

.contactInformation {
  width: 100%;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  height: 25vh;
}

.contactInformation .left,
.contactInformation .right {
  width: 50%;
  float: left;
}

.contactInformation .right {
  text-align: right;
}

h1 {
  font-weight: bold;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
  margin: 0;
}

.form {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

form {
  width: 100%;
  height: inherit;
}

.form label,
.form input {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
}

/* agm-map {
    height: 300px;
    vertical-align: middle;
} */

/* 
.mapContainer {
    margin: 0 auto;
    position: relative;
} */

/* .mapContainer::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
} */

/* input {
    width: calc(50px + 35vw);
    height: 3.5vh;
} */

/* .allSections {
    margin: 0 auto;
} */

/* .contactInformation, .form {
    padding: 1vw;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
} */

/* .allSections>p {
    text-align: justify;
    margin: 0 auto;
} */

/* label {
    display: block;
} */

.myBtn {
  display: block;
  margin: 0 auto;
  width: 20vw;
  height: 5vh;
  border: 2px solid white;
  background-color: #282d2e;
  font-weight: bold;
}

.rightDiv label,
p,
button,
h1 {
  color: white;
}

.logos {
  margin-top: 20px;
  width: 50%;
  float: right;
}

@media (max-width: 375px) {
  .leftDiv {
    min-height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    width: 100%;
  }

  .contactInformation {
    padding-left: 10%;
    padding-right: 10%;
    height: 25%;
    padding-bottom: 10px;
  }

  .logos {
    width: 70%;
  }

  h1 {
    padding-bottom: 10%;
  }

  p {
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 4em;
    padding-top: 8%;
    padding-left: 8%;
  }

  p {
    font-size: 20px;
  }

  label {
    font-size: 20px;
    padding-bottom: 5px;
  }
  input,
  textarea {
    font-size: 20px;
  }

  .myBtn {
    font-size: 20px;
  }

  .logos {
    padding-top: 30px;
    padding-right: 30px;
  }
}
