<header>
        <app-header></app-header>
</header>
<div class="container-fluid viewPort100">
        <div class="row">
                <section>
                        <app-home id="home"></app-home>
                </section>
        </div>
        <div class="row">
                <section>
                        <app-about id="about"></app-about>
                </section>
        </div>
        <div class="row">
                <section>
                        <app-products id="products"></app-products>
                </section>
        </div>


        <div class="row">
                <section>
                        <app-production id="production"></app-production>
                </section>
        </div>
        <div class="row">
                <section>
                        <app-contact id="contact"></app-contact>
                </section>
        </div>

</div>