.viewPort100 {
    width: 100%;
    min-height: 90vh;
    /* height: 100vh; */
    background-color: #ECECEC;
    background: linear-gradient(to bottom, #6F8183, #ECECEC);
}

h1 {
    font-weight: bold;
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin: 0;
}

/*
.left {
    float: left;
    width: 50%;
    height: 100vh;
    background-color: #5b7173;
    position: relative;
} */

/* 
.proba {
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .9)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.proba :hover {
    
    background-repeat: repeat-x;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
} */

/* 
.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-container {
    display: grid;
}

.grid-element {
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
} */

@media(max-width: 768px) {
    .viewPort100 {
        min-height: 100vh;
    }
}

@media(min-width: 1920px) {
    h1 {
        font-size: 4em;
    }
    .viewPort100 {
        min-height: 80vh;
    }
}

@media(min-height: 1366px) {
    .viewPort100 {
        min-height: 50vh;
    }
}

@media(min-height: 1600px) {
    .viewPort100 {
        min-height: 75vh;
    }
}