.viewPort100 {
    width: 100%;
    height: 100vh;
}

.item img {
    width: 100%;
    vertical-align: top;
    min-height: 100vh;
}

.item:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.0));
    opacity: 0.9;
}

.containerForText {
    max-width: 300px;
    position: absolute;
    top: 10%;
    left: 17%;
    z-index: 1;
    color: white;
}

.heading {
    font-size: 3em;
}

.horizontalLine {
    width: 50px;
    position: absolute;
    left: 0;
}

.shortDescriptionP {
    padding-top: 55px;
}

@media screen and (max-width: 800px) {
    .containerForText {
        display: none;
    }
    #first {
        content: url("/assets/images/slide-slika1-small.jpg");
    }
    #second {
        content: url("/assets/images/slide-slika2-small.jpg");
    }
    #third {
        content: url("/assets/images/slide-slika3-small.jpg");
    }
}