.viewPort100 {
    width: 100%;
    height: 100vh;
}

.item img {
    width: 100%;
    /* vertical-align: top; */
    min-height: 100vh;
}

.item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15));
}

#first-s, #second-s, #third-s {
    display: none;
}

.containerForText {
    max-width: 30%;
    position: absolute;
    top: 20%;
    left: 17%;
    z-index: 1;
    color: white;
}

.heading {
    font-size: 3em;
}

.horizontalLine {
    width: 50px;
    position: absolute;
    left: 0;
}

.shortDescriptionP {
    padding-top: 55px;
}

@media screen and (max-width:768px) {
    #first-l, #second-l, #third-l {
        /* content: url("/assets/images/slide-slika1-small.jpg"); */
        display: none;
    }
    #first-s, #second-s, #third-s {
        display: block;
    }
    .containerForText {
        max-width: 70%;
    }
}

@media(min-width:1920px) {
    .containerForText {
        top: 17%;
    }
    .horizontalLine {
        width: 150px;
    }
    .heading {
        font-size: 5em;
    }
    .shortDescriptionP {
        font-size: 22px;
    }
}