<div class="row">
  <div class="col-xs-12">
    <div id="myCarousel" class="carousel slide viewPort100">
      <ol class="carousel-indicators">
        <li [ngClass]="{active: currentSlide === 0}" (click)="changeCurrentSlide(0)"></li>
        <li [ngClass]="{active: currentSlide === 1}" (click)="changeCurrentSlide(0)"></li>
        <li [ngClass]="{active: currentSlide === 2}" (click)="changeCurrentSlide(0)"></li>
      </ol>
      <div class="carousel-inner viewPort100" id="slides" role="listbox">
        <div class="item viewPort100" [ngClass]="{active: currentSlide === 0}" id="first">
          <img id="first" src="../../assets/images/slide-slika1.jpg" alt="First slide">
        </div>
        <div class="item viewPort100" [ngClass]="{active: currentSlide === 1}" id="second">
          <img class="" src="../../assets/images/slide-slika2.jpg" alt="Second slide">
        </div>
        <div class="item viewPort100" [ngClass]="{active: currentSlide === 2}" id="third">
          <img class="" src="../../assets/images/slide-slika3.jpg" alt="Third slide">
        </div>

        <div class="containerForText">
          <p class="heading">Life Should Taste As Good As Snails.</p>
		  <!--<p class="heading">Food or Snails? I'll have Snails</p>-->
          <hr class="horizontalLine">
          <p class="shortDescriptionP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In sed omnis esse ratione natus magnam nobis incidunt.
            Similique ipsam, ipsum odit sequi, quam ullam nesciunt iusto esse culpa possimus tenetur.</p>
        </div>
      </div>
      <span class="left carousel-control" href="#" role="button" data-slide="prev" (click)="onPrev()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </span>
      <span class="right carousel-control" href="#" role="button" data-slide="next" (click)="onNext()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </span>
    </div>
  </div>
</div>