.viewPort100 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.pHolder {
    position: relative;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    width: 100%;
    height: 12%;
    background-color: #282d2e;
    text-align: left;
}

h1 {
    margin: 0;
    color: white;
    padding-top: 12px;
    font-weight: bold;
    padding-left: 5%;
}

.wrap {
    height: 100%;
    width: 100%;
}

.left, .right {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

p {
    color: white;
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'SamsungOne 400', sans-serif;
    font-size: 18px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .left, .right {
        width: 100%;
        height: 50%;
    }
    p {
        font-size: 14px;
    }
}

@media(max-width:375px) {
    p {
        font-size: 14px;
    }
}

@media(max-width:320px) {
    .left {
        height: 40%;
    }
    .right {
        height: 60%;
    }
    p {
        font-size: 14px;
    }
}

@media(min-width:1920px) {
    h1 {
        padding-top: 30px;
        font-size: 4em;
    }
    p {
        font-size: 25px;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 9%;
    }
}
@media(min-width: 2560px){
    p{
        font-size: 30px;
    }
}

@media(min-height: 1366px) {
    .viewPort100 {
        height: 50vh;
    }
}

@media(min-height: 1600px) {
    .viewPort100 {
        height: 100vh;
    }
}